<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <style>
        .center {
            margin-left: auto;
            margin-right: auto;
        }
        h1 {text-align: center;}
        p {text-align: center;}
        div {text-align: center;}
        body {background-color: lavender;}
    </style>
    <title>Admin Actions</title>
</head>
<body>
    <h1>Admin Actions</h1>
         <table style= "padding: 1em;" class="center">
                <tr>
                    <td><a href="/addStudent"><p>Add Student</p></a></td>
                </tr>
                <tr>
                    <td><a href="/addExam"><p>Add Exam</p></a></td>
                </tr>
                <tr>
                    <td><a href="/removeStudent"><p>Remove Student</p></a></td>
                </tr>
                <tr>
                    <td><a href="/dropExam"><p>Drop Exam</p></a></td>
                </tr>
         </table>
</body>
</html>