<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <style>
        body {background-color: lavender;}
        h1 {text-align: center;}
        p {text-align: center;}
        div {text-align: center;}
        .center {
            margin-left: auto;
            margin-right: auto;
        }
    </style>
    <title>Question</title>
</head>
<body  th:object="${question}">
    <h1 th:text="'Question ' + ${question.questionID}"></h1>
    <form action="#" th:action="@{/question}" th:object="${chosenChoice}" method="post">
         <table style= "padding: 1em;" class="center">
              <td> <p th:text="${question.description} + '?'"> </p></td>
                 <tr th:each="choice : ${choices}">
                   <td><input type="radio" id="choice1" name="answer" value="choice1" th:field="*{description}"/>
                       <label for="choice1" th:text="${choice.description}"></label><br>
                    </td>
                </tr>
                <tr>
                    <td colspan="2"><button type="submit">Submit</button> </td>
                </tr>
         </table>
    </form>
</body>
</html>