<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <style>
        body {background-color: lavender;}
        h1 {text-align: center;}
        p {text-align: center;}
        div {text-align: center;}
        .center {
            margin-left: auto;
            margin-right: auto;
        }
    </style>
    <title>Question</title>
</head>
<body>
    <h1 th:text="'Question ' + ${question.questionID}"></h1>
    <form action="#" th:action="@{/question}" th:object="${answer}" method="post">
         <table style= "padding: 1em;" class="center">
                 <tr th:each="option : ${options}">
                    <td> <p th:text="${question.description} + '?'"> </p></td>
                   <td><input type="radio" id="option1" name="answer" value="option1">
                       <label for="option1" th:text="${option}"></label><br>
                    </td>
                </tr>
         </table>
    </form>
</body>
</html>