<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
     <style>
        body {background-color: lavender;}
        h1 {text-align: center;}
        p {text-align: center;}
        div {text-align: center;}
        .center {
            margin-left: auto;
            margin-right: auto;
        }
    </style>
    <title>Test Done</title>
</head>
<body th:object="${exam}">
    <h1>Congrats! You have finished the exam!</h1>
     <a th:href="'/examSchedule/' + ${exam.studentID}"><p>Click here to return to the exam schedule</p></a>
    <a th:href="'/wrongQuestionList/' + ${exam.examid}"><p>Click here to redo your wrong questions</p></a>
</body>
</html>